.payment-method .checkbox_radio input ~ .checkbox-circle {
  border: 1.5px solid #90a3bf;
  background-color: transparent;
}

.payment-method .checkbox_radio input:checked ~ .checkbox-circle {
  background-color: rgba(53, 99, 233, 0.3);
  border: 1px solid transparent;
}

.payment-method .checkbox_radio input ~ .checkbox-circle::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
}

.payment-method .checkbox_radio input:checked ~ .checkbox-circle::after {
  background-color: #3563e9;
}
